@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal; }

:root {
  --swiper-theme-color: #007aff; }

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap; }

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column; }

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-container-pointer-events {
  touch-action: pan-y; }
  .swiper-container-pointer-events.swiper-container-vertical {
    touch-action: pan-x; }

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform; }

.swiper-slide-invisible-blank {
  visibility: hidden; }

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height; }

/* 3D Effects */
.swiper-container-3d {
  perspective: 1200px; }
  .swiper-container-3d .swiper-wrapper,
  .swiper-container-3d .swiper-slide,
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom,
  .swiper-container-3d .swiper-cube-shadow {
    transform-style: preserve-3d; }
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10; }
  .swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

/* CSS Mode */
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */ }
  .swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
    display: none; }

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start; }

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory; }

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory; }

@charset "UTF-8";
/* box sizing */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* для ссылок */
a {
  text-decoration: none;
  border: none;
  color: #1B1C21; }

body {
  font-family: "TT Lakes", Arial, SansSerif;
  color: #1B1C21;
  font-size: 14px;
  line-height: 18px;
  background: repeat url(./static/background.png); }

li {
  list-style: none; }

span {
  line-height: 0; }

@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Regular.eot);
  src: local("TT Lakes Regular"), local("TTLakes-Regular"), url(./fonts/TTLakes-Regular.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Bold';
  src: url(./fonts/TTLakes-Bold.eot);
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url(./fonts/TTLakes-Bold.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Bold.woff) format("woff"), url(./fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Medium';
  src: url(./fonts/TTLakes-Medium.eot);
  src: url(./fonts/TTLakes-Medium.eot?#iefix) format("embedded-opentype"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

.button {
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: auto 8px; }
  .button:hover {
    -webkit-filter: opacity(0.7);
            filter: opacity(0.7);
    transition-duration: 250ms; }
  .button--menu {
    background: no-repeat center center transparent url(./static/menu.svg); }
  .button--icon-repair {
    background: no-repeat center center transparent url(./static/repair.svg); }
  .button--icon-checkstatus {
    background: no-repeat center center transparent url(./static/checkstatus.svg); }
  .button--icon-call {
    background: no-repeat center center transparent url(./static/call.svg); }
  .button--icon-chat {
    background: no-repeat center center transparent url(./static/chat.svg); }
  .button--icon-profile {
    background: no-repeat center center transparent url(./static/profile.svg); }
  .button--close {
    background: no-repeat center center transparent url(./static/close.svg); }
    @media (min-width: 1120px) {
      .button--close {
        display: none; } }
  .button--search {
    background: no-repeat center center transparent url(./static/search.svg); }
  .button--arrow {
    background: no-repeat center center transparent url(./static/go.svg);
    padding: 0;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer; }
  .button--order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FF3E79;
    padding: 4px 4px 4px 12px;
    width: 120px;
    height: 32px;
    border-radius: 16px;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    font-family: "TT Lakes Bold", Arial, SansSerif; }
  .button--goside {
    background: no-repeat center center transparent url(./static/goside.svg);
    padding: 0;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer; }

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto; }
  .icons__block-1 {
    display: none; }
    @media (min-width: 768px) {
      .icons__block-1 {
        display: block; } }
  .icons__text {
    font-family: "TT Lakes Medium", Arial, SansSerif;
    font-size: 16px;
    cursor: pointer; }
    .icons__text:hover {
      -webkit-filter: opacity(0.7);
              filter: opacity(0.7);
      transition-duration: 250ms; }
  .icons--position-title {
    display: none; }
    @media (min-width: 1120px) {
      .icons--position-title {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-right: 3vw; } }

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal; }

:root {
  --swiper-theme-color: #007aff; }

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap; }

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column; }

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-container-pointer-events {
  touch-action: pan-y; }
  .swiper-container-pointer-events.swiper-container-vertical {
    touch-action: pan-x; }

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform; }

.swiper-slide-invisible-blank {
  visibility: hidden; }

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height; }

/* 3D Effects */
.swiper-container-3d {
  perspective: 1200px; }
  .swiper-container-3d .swiper-wrapper,
  .swiper-container-3d .swiper-slide,
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom,
  .swiper-container-3d .swiper-cube-shadow {
    transform-style: preserve-3d; }
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10; }
  .swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

/* CSS Mode */
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */ }
  .swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
    display: none; }

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start; }

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory; }

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: auto;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #F8F8F8; }
  @media (min-width: 1120px) {
    .container {
      flex-direction: row; } }

/*
@media (min-width: $screen-md) {}
@media (min-width: $screen-lg) {}
*/
.title {
  display: flex;
  flex-direction: space-between;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 24px 0; }
  .title__text {
    padding-left: 3vw;
    height: 40px;
    line-height: 40px; }
    .title__text--highlight {
      background: no-repeat url(./static/highlight.svg); }

.slide-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 100%;
  list-style: none;
  font-size: 16px;
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
  /* chrome based */
  /*fade effect*/ }
  @media (min-width: 1120px) {
    .slide-menu {
      flex-wrap: wrap; } }
  .slide-menu::-webkit-scrollbar {
    display: none;
    background: transparent; }
  .slide-menu::after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    background-image: linear-gradient(to right, transparent, #F8F8F8 90%); }
    @media (min-width: 1120px) {
      .slide-menu::after {
        display: none; } }
  .slide-menu__item {
    display: inline-block;
    padding: 0.5em 1em;
    height: 40px; }
    .slide-menu__item--current {
      background: #FFFFFF;
      border: 2px solid #B8FFEC;
      border-radius: 6px; }
  .slide-menu__link {
    font-family: "TT Lakes Medium", Arial, SansSerif;
    color: #7E7E82; }
    .slide-menu__link:hover {
      -webkit-filter: opacity(0.7);
              filter: opacity(0.7);
      transition-duration: 250ms; }
  .slide-menu--position {
    margin: 0 0 24px 3vw; }

.about {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap; }
  .about__desription {
    flex-basis: 290px;
    flex-grow: 1;
    margin: 0 24px 24px 3vw; }
  .about__expand {
    display: inline-block;
    background: no-repeat left 5px center url(./static/expand.svg);
    padding-left: 20px;
    font-size: 16px;
    vertical-align: top;
    margin: 16px 8px;
    font-family: "TT Lakes Medium", Arial, SansSerif; }
    .about__expand:hover {
      -webkit-filter: opacity(0.7);
              filter: opacity(0.7);
      transition-duration: 250ms;
      cursor: pointer; }
    .about__expand--expanded {
      background: no-repeat left 5px center url(./static/collapse.svg); }
  .about__text {
    max-height: 5em;
    overflow: hidden; }
    @media (min-width: 768px) {
      .about__text {
        max-height: 8em;
        overflow: hidden; } }
    @media (min-width: 1120px) {
      .about__text {
        max-height: 12em;
        overflow: hidden; } }
  .about__picture {
    width: 320px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .about__picture {
        width: 360px;
        margin: 0 auto; } }
    @media (min-width: 1120px) {
      .about__picture {
        width: 520px;
        margin: 0 3vw 0 auto; } }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  line-height: 0;
  border-bottom: 1px solid #D9FFF5;
  background-color: #FFFFFF;
  padding: 16px; }
  @media (min-width: 1120px) {
    .header {
      display: none; } }
  .header .menu-header {
    border: none; }
  .header__logo:hover {
    transform: scale(1.05);
    transition-duration: 250ms; }
  .header__logo--position-header {
    margin-right: auto; }
  .header__divider {
    height: 32px;
    width: 2px;
    background: #EAEAEA;
    border-radius: 1px; }
    .header__divider--small-devices {
      display: block;
      margin: auto; }
      @media (min-width: 768px) {
        .header__divider--small-devices {
          display: none; } }
      @media (min-width: 1120px) {
        .header__divider--small-devices {
          display: none; } }
    .header__divider--large-devices {
      display: none; }
      @media (min-width: 768px) {
        .header__divider--large-devices {
          display: block;
          margin: auto 10px; } }
      @media (min-width: 1120px) {
        .header__divider--large-devices {
          display: block; } }

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100vw;
  min-width: 320px;
  max-width: 360px;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  flex-shrink: 0;
  background-color: #fff;
  font-size: 16px;
  box-shadow: 4px 0 40px gray;
  overflow: hidden;
  transition-duration: 1s; }
  @media (min-width: 1120px) {
    .menu {
      position: relative;
      min-width: 280px;
      min-height: 740px;
      height: 100vh;
      box-shadow: none;
      flex-shrink: 1; } }
  @media (min-width: 1120px) {
    .menu .header {
      display: flex; } }
  .menu .menu-header {
    border: none; }
  .menu .menu-footer {
    padding: 16px 16px 40px 16px;
    margin-top: auto; }
    .menu .menu-footer .icons__block-1 {
      display: block; }
    .menu .menu-footer__mail {
      margin: 16px 8px; }
    .menu .menu-footer__mail-link:hover {
      -webkit-filter: opacity(0.7);
              filter: opacity(0.7);
      transition-duration: 250ms; }
    .menu .menu-footer__phone {
      margin: 16px 8px;
      font-size: 24px;
      font-weight: bold; }
    .menu .menu-footer__tel-link:hover {
      -webkit-filter: opacity(0.7);
              filter: opacity(0.7);
      transition-duration: 250ms; }
    .menu .menu-footer__language {
      margin: 32px 8px; }
    .menu .menu-footer__language-select {
      margin-right: 8px; }
      .menu .menu-footer__language-select:hover {
        -webkit-filter: opacity(0.7);
                filter: opacity(0.7);
        transition-duration: 250ms;
        cursor: pointer; }
      .menu .menu-footer__language-select--current {
        color: gray; }
  .menu__item {
    height: 32px;
    margin: 12px 0;
    text-indent: 24px;
    line-height: 32px; }
    @media (min-width: 768px) {
      .menu__item {
        margin: 24px 0; } }
    @media (min-width: 1120px) {
      .menu__item {
        margin: 24px 0; } }
    .menu__item--current {
      background: no-repeat url(./static/menu-highlight.svg); }
      .menu__item--current a {
        color: gray; }
  .menu__link:hover {
    -webkit-filter: opacity(0.7);
            filter: opacity(0.7);
    transition-duration: 250ms; }
  .menu--visible {
    height: 100vh;
    transition-duration: 1s; }

.swiper {
  width: 320px;
  background-color: #F8F8F8;
  margin: 40px auto; }
  @media (min-width: 768px) {
    .swiper {
      width: 768px; } }
  @media (min-width: 1120px) {
    .swiper {
      width: 1120px; } }
  .swiper--brands .swiper-container::after {
    height: 72px; }
  .swiper--brands .swiper-wrapper {
    height: 72px; }
    @media (min-width: 768px) {
      .swiper--brands .swiper-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        height: 176px;
        overflow: hidden;
        transition: height 0.5s ease; } }
    @media (min-width: 1120px) {
      .swiper--brands .swiper-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        height: 176px;
        overflow: hidden;
        transition: height 0.5s ease; } }
    @media (min-width: 768px) {
      .swiper--brands .swiper-wrapper--full {
        height: 352px; } }
    @media (min-width: 1120px) {
      .swiper--brands .swiper-wrapper--full {
        height: 264px; } }
  .swiper--brands .swiper-slide {
    width: 240px;
    height: 72px;
    margin: 8px auto; }
    @media (min-width: 768px) {
      .swiper--brands .swiper-slide {
        width: 224px; } }
    @media (min-width: 1120px) {
      .swiper--brands .swiper-slide {
        width: 224px; } }
  .swiper--items .swiper-container::after {
    height: 160px; }
  .swiper--items .swiper-wrapper {
    height: 160px; }
    @media (min-width: 768px) {
      .swiper--items .swiper-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        height: 176px;
        overflow: hidden;
        transition: height 0.5s ease; } }
    @media (min-width: 1120px) {
      .swiper--items .swiper-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        height: 176px;
        overflow: hidden;
        transition: height 0.5s ease; } }
    @media (min-width: 768px) {
      .swiper--items .swiper-wrapper--full {
        height: 520px; } }
    @media (min-width: 1120px) {
      .swiper--items .swiper-wrapper--full {
        height: 342px; } }
  .swiper--items .swiper-slide {
    width: 240px;
    height: 160px;
    margin: 8px auto; }
    @media (min-width: 768px) {
      .swiper--items .swiper-slide {
        width: 224px; } }
    @media (min-width: 1120px) {
      .swiper--items .swiper-slide {
        width: 224px; } }
    .swiper--items .swiper-slide .item-container .button--arrow {
      align-self: flex-end; }
    .swiper--items .swiper-slide .item-container__text {
      align-self: flex-start; }
  .swiper--prices .swiper-container::after {
    height: 200px; }
  .swiper--prices .swiper-container .item-container {
    display: none;
    color: #7E7E82; }
    @media (min-width: 768px) {
      .swiper--prices .swiper-container .item-container {
        display: flex;
        border: none; } }
    @media (min-width: 1120px) {
      .swiper--prices .swiper-container .item-container {
        display: flex;
        border: none; } }
    @media (min-width: 768px) {
      .swiper--prices .swiper-container .item-container__text:nth-child(1) {
        flex-basis: 55%; } }
    @media (min-width: 1120px) {
      .swiper--prices .swiper-container .item-container__text:nth-child(1) {
        flex-basis: 55%; } }
    @media (min-width: 768px) {
      .swiper--prices .swiper-container .item-container__text:nth-child(2) {
        flex-basis: 15%; } }
    @media (min-width: 1120px) {
      .swiper--prices .swiper-container .item-container__text:nth-child(2) {
        flex-basis: 15%; } }
    @media (min-width: 768px) {
      .swiper--prices .swiper-container .item-container__text:nth-child(3) {
        flex-basis: 30%; } }
    @media (min-width: 1120px) {
      .swiper--prices .swiper-container .item-container__text:nth-child(3) {
        flex-basis: 30%; } }
  .swiper--prices .swiper-wrapper {
    height: 200px; }
    @media (min-width: 768px) {
      .swiper--prices .swiper-wrapper {
        display: block;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        overflow: hidden; } }
  .swiper--prices .swiper-slide {
    width: 260px;
    height: 200px;
    margin: 0; }
    @media (min-width: 768px) {
      .swiper--prices .swiper-slide {
        height: 64px;
        width: 100%; } }
    @media (min-width: 1120px) {
      .swiper--prices .swiper-slide {
        height: 64px;
        width: 100%; } }
    .swiper--prices .swiper-slide:not(:last-of-type)::after {
      content: '';
      display: block;
      position: relative;
      margin: 0 auto;
      border-radius: 1px;
      height: 2px;
      background-color: #F8F8F8;
      z-index: 2; }
      @media (min-width: 768px) {
        .swiper--prices .swiper-slide:not(:last-of-type)::after {
          width: 688px; } }
      @media (min-width: 1120px) {
        .swiper--prices .swiper-slide:not(:last-of-type)::after {
          width: 1040px; } }
    .swiper--prices .swiper-slide .item-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      color: #1B1C21; }
      @media (min-width: 768px) {
        .swiper--prices .swiper-slide .item-container {
          flex-direction: row;
          align-items: center; } }
      @media (min-width: 1120px) {
        .swiper--prices .swiper-slide .item-container {
          flex-direction: row;
          align-items: center; } }
      .swiper--prices .swiper-slide .item-container__text:nth-child(3) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
      .swiper--prices .swiper-slide .item-container__text--mobile {
        display: block;
        color: #7E7E82; }
        @media (min-width: 768px) {
          .swiper--prices .swiper-slide .item-container__text--mobile {
            display: none; } }
        @media (min-width: 1120px) {
          .swiper--prices .swiper-slide .item-container__text--mobile {
            display: none; } }

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  padding: 16px; }
  .item-container:hover {
    border: 1px solid #e0e0e0;
    background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer; }
  .item-container .button--arrow {
    margin: 0; }

.swiper-header {
  text-transform: uppercase;
  font-size: 16px;
  background-image: linear-gradient(to right, #F8F8F8, #FFFFFF);
  padding: 16px;
  color: #7E7E82;
  border-top: 1px solid #D9FFF5; }

.swiper-container {
  width: 100%;
  padding: 16px;
  position: relative; }
  @media (min-width: 768px) {
    .swiper-container {
      width: 100%;
      height: auto;
      padding: 24px;
      position: relative; } }
  @media (min-width: 1120px) {
    .swiper-container {
      width: 100%;
      height: auto;
      padding: 24px;
      position: relative; } }
  .swiper-container::after {
    content: '';
    width: 40px;
    height: 72px;
    position: absolute;
    right: 0;
    top: 24px;
    z-index: 2;
    background-image: linear-gradient(to right, transparent, #F8F8F8 90%); }
    @media (min-width: 768px) {
      .swiper-container::after {
        display: none; } }
    @media (min-width: 1120px) {
      .swiper-container::after {
        display: none; } }
  .swiper-container .about__expand {
    display: none; }
    @media (min-width: 768px) {
      .swiper-container .about__expand {
        display: inline-block; } }
    @media (min-width: 1120px) {
      .swiper-container .about__expand {
        display: inline-block; } }

.swiper-wrapper {
  width: 240px; }

.swiper-slide {
  background: #fff;
  border-radius: 6px; }

.swiper-pagination {
  position: relative;
  margin-top: 16px;
  width: 100%;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination-bullet {
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 50%;
  background: #000;
  opacity: 0.2;
  width: 12px;
  height: 12px; }
  @media (min-width: 768px) {
    .swiper-pagination-bullet {
      display: none; } }
  @media (min-width: 1120px) {
    .swiper-pagination-bullet {
      display: none; } }

.swiper-pagination-bullet-active {
  opacity: 0.4; }


/*# sourceMappingURL=style.css.map*/