.button{
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: auto 8px;

  &:hover{
    filter: opacity(0.7);
    transition-duration: 250ms;
  }

  &--menu{
    background: no-repeat center center transparent url("../img/menu.svg");
  }
  &--icon-repair{
    background: no-repeat center center transparent url("../img/repair.svg");
  }
  &--icon-checkstatus{
    background: no-repeat center center transparent url("../img/checkstatus.svg");
  }
  &--icon-call{
    background: no-repeat center center transparent url("../img/call.svg");
  }
  &--icon-chat{
    background: no-repeat center center transparent url("../img/chat.svg");
  }
  &--icon-profile{
    background: no-repeat center center transparent url("../img/profile.svg");
  }
  &--close{
    background: no-repeat center center transparent url("../img/close.svg");

    @media (min-width: $screen-lg) {
      display: none;
    }
  }
  &--search{
    background: no-repeat center center transparent url("../img/search.svg");
  }
  &--arrow{
    background: no-repeat center center transparent url("../img/swiper/go.svg");
    padding: 0;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  &--order{
    @include flex(row,space-between,center);
    background-color: #FF3E79;
    padding: 4px 4px 4px 12px;
    width: 120px;
    height: 32px;
    border-radius: 16px;
    color: #fff;
    font-size: 12px;
    line-height: 24px;
    font-family: $font-bold;
  }
  &--goside{
    background: no-repeat center center transparent url("../img/swiper/goside.svg");
    padding: 0;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}




