.button{
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: auto 8px;

  &:hover{
    filter: opacity(0.7);
    transition-duration: 250ms;
  }

  &--menu{
    background: no-repeat center center transparent url("/dist/img/menu.svg");
  }
  &--icon-repair{
    background: no-repeat center center transparent url("/dist/img/repair.svg");
  }
  &--icon-checkstatus{
    background: no-repeat center center transparent url("/dist/img/checkstatus.svg");
  }
  &--icon-call{
    background: no-repeat center center transparent url("/dist/img/call.svg");
  }
  &--icon-chat{
    background: no-repeat center center transparent url("/dist/img/chat.svg");
  }
  &--icon-profile{
    background: no-repeat center center transparent url("/dist/img/profile.svg");
  }
  &--close{
    background: no-repeat center center transparent url("/dist/img/close.svg");
  }
  &--search{
    background: no-repeat center center transparent url("/dist/img/search.svg");
  }
  &--arrow{
    background: no-repeat center center transparent url("/dist/img/swiper/go.svg");
    padding: 0;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: auto 16px;
  }
}




