/* box sizing */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* для ссылок */
a {
  text-decoration: none;
  border: none;
  color: $text-main;
}

.body{
  font-family: $font-regular;
  color: $text-main;
  font-size: 14px;
  line-height: 18px;
  background: repeat url("../img/background.png");

  &--no-scroll{
    overflow: hidden;
  }
}

li{
  list-style: none;
}
span{
  line-height: 0;
}
