.about{
  @include flex($items:flex-start);
  flex-wrap: wrap;

  @media (min-width: $screen-md) {
    display: inline-block;
  }

  &__desription{
    margin: 0 24px 24px 3vw;
    display: flex;
    flex-direction: column;
  }
  &__expand{
    display: inline-block;
    align-self: flex-start;
    background: no-repeat left 5px center url("../img/expand.svg");
    padding-left: 20px;
    font-size: 16px;
    vertical-align: top;
    margin: 16px 8px;
    font-family: $font-medium;

    &:hover{
      filter: opacity(0.7);
      transition-duration: 250ms;
      cursor: pointer;
    }
    &--expanded{
      background: no-repeat left 5px center url("../img/collapse.svg");
    }
  }
  &__text{
    max-height: 5em;
    overflow: hidden;
    transition: max-height 1s ease;

    @media (min-width: $screen-md) {
      max-height: 8em;
    }
    @media (min-width: $screen-lg) {
      max-height: 11em;

    }

    &--full{
      max-height: 500px;
    }
  }
  &__picture{
    width: 320px;
    margin: 0 auto;
    order: 2;

    @media (min-width: $screen-md) {
      width: 360px;
      margin: 0 24px;
      float: right;
    }
    @media (min-width: $screen-lg) {
      width: 520px;
      margin: 0 32px;
      float: right;
    }
  }
}
