.menu{
  @include flex($direction:column, $items:stretch);

  width: 100vw;
  min-width: 320px;
  max-width: 360px;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  flex-shrink: 0;
  background-color: #fff;
  font-size: 16px;
  box-shadow: 4px 0 40px $text-gray;
  overflow: hidden;
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
  transition-duration: 1s;

  @media (min-width: $screen-lg) {
    position: relative;
    min-width: 260px;
    min-height: 740px;
    height: auto;
    box-shadow: none;
    flex-shrink: 1;
    z-index: auto;
  }

  .header{
    @media (min-width: $screen-lg){
      display: flex;
    }
  }
  .menu-header{
    border: none;
  }
  .menu-footer{
    padding: 16px 16px 40px 16px;
    margin: auto 0 50px 0;

    @media (min-width: $screen-lg) {
      margin: 120px 0 auto 0;
    }

    .icons__block-1{
      display: block;
    }

    &__mail{
      margin: 16px 8px;
    }
    &__mail-link{
      &:hover{
        filter: opacity(0.7);
        transition-duration: 250ms;
      }
    }
    &__phone{
      margin: 16px 8px;
      font-size: 24px;
      font-weight: bold;
    }
    &__tel-link{
      &:hover{
        filter: opacity(0.7);
        transition-duration: 250ms;
      }
    }
    &__language{
      margin: 32px 8px;
    }
    &__language-select{
      margin-right: 8px;

      &:hover{
        filter: opacity(0.7);
        transition-duration: 250ms;
        cursor: pointer;
      }

      &--current{
        color: gray;
      }
    }
  }

  &__item{
    height: 32px;
    margin: 12px 0;
    text-indent: 24px;
    line-height: 32px;

    @media (min-width: $screen-md) {
      margin: 24px 0;
    }
    @media (min-width: $screen-lg) {
      margin: 24px 0;
    }

    &:hover{
      cursor: pointer;
      filter: opacity(0.7);
      transition-duration: 250ms;
    }

    &--current{
      background: no-repeat url('../img/menu-highlight.svg');

      a{
        color: $text-gray;
      }
    }
  }

  &--visible{
    height: 100vh;
    transition-duration: 1s;
  }
}
