.overlay{
  display: none;
  position: fixed;
  width: 100%;
  max-width: inherit;
  height: 100%;
  background-color: $white;
  filter: opacity(0.95);
  z-index: 10;

  &--on{
    display: block;
  }
}
