//fonts
$font-regular: "TT Lakes", Arial, SansSerif;
$font-medium: "TT Lakes Medium", Arial, SansSerif;
$font-bold: "TT Lakes Bold", Arial, SansSerif;

//screen-sizes
$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1120px;

//colors
$background: #F8F8F8;
